@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 1177px;
    height: 647px;
    position:relative;
			top: 50px;
}
/*○○さん
a{
    font-size: 15px;
    position:relative;
            left: 87%;
}
*/
/*ユーザー情報の変更ボタン*/
.jouhouhenkou{
    background-color:lemonchiffon;
    width: 350px;
    height: 220px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 50px;
			left: 30px;
}
/*ユーザー情報の変更ボタン動き*/
.jouhouhenkou:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
.taikai{
    width: 350px;
    height: 220px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 86px;
			right: -28%;
}
/*メインメニューに戻るボタン*/
.meinmenyu{
    width: 350px;
    height: 120px;
    font-size: 32px;
    border: none;
    transition: .3s;
    position:relative;
			top: 350px;
			right: 30%;
}
/*メインメニューに戻るボタン動き*/
.meinmenyu:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*退会ボタン*/

/*退会ボタン動き*/
.taikai:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
        width: 330px;
        height: 400px;
        position:relative;
			top: 60px;
            right: 8px;
    }
/*ユーザー情報の変更ボタン*/
    .jouhouhenkou{
        width: 250px;
        height: 85px;
        font-size: 30px;
        position:relative;
			top: 10px;
			left: 0px;
    }
    .taikai{
        width: 250px;
        height: 85px;
        font-size: 30px;
        position:relative;
			top: 70px;
			right: 0px;
    }
/*メインメニューに戻るボタン*/
    .meinmenyu{
        width: 250px;
        height: 60px;
        font-size: 20px;
        position:relative;
			top: 130px;
			right: 0px;
    }
}