@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 668px;
    height: 700px;
    position:relative;
			top: -90px;
}
/*下線*/
.kaiinn{
    font-size: 36px;
    position:relative;
    top: 20px;
}
/*ネームテキスト*/
.nemu{
    width: 332px;
    height: 82px;
    position:relative;
    top: 0px;
    left: 50px;
}
/*ネーム文字*/
.nemukoumoku{
    font-size: 24px;
    position:relative;
			top: 20px;
            margin:50px;
            right: 30px;
}

/*生年月日テキスト*/
.umare{
    width: 180px;
    height: 40px;
    position:relative;
    top: 10px;
    left: 97px;
}
/*月テキスト*/
.tuki{
    width: 58px;
    height: 40px;
    position:relative;
    top: -50px;
    right: 18px;
}
/*日テキスト*/
.niti{
    width: 58px;
    height: 40px;
    position:relative;
    top: -50px;
    right: -20px;
}
/*身長テキスト*/
.sintyou{
    width: 250px;
    height: 82px;
    position:relative;
    top: -4px;
    left: 147px;
    
}
/*身長文字*/
.sintyoukoumoku{
    font-size: 24px;
    position:relative;
			top: 0px;
            right: 102px;
}

/*ｃｍ文字*/
.cm{
    font-size: 24px;
    position:relative;
    top: 30px;
    left: 150px;
}
/*体重テキスト*/
.taijuu{
    width: 250px;
    height: 82px;
    position:relative;
    top: 0px;
    left: 147px;
    
}
/*ｋｇ文字*/
.kg{
    font-size: 24px;
    position:relative;
    top: 30px;
    left: 150px;
}
/*体重文字*/
.taijuukoumoku{
    font-size: 24px;
    position:relative;
    top: 0px;
    right: 106px;
}
/*性別テキスト*/
.seibetu{
    width: 180px;
    height: 40px;
    position:relative;
    top: -4px;
}
/*上から1つ目の必須*/
.hissu1{
    font-size: 24px;
    color: red;
    position:relative;
    top: 10px;
    left: 65px;
}
/*上から2つ目の必須*/
.hissu2{
    font-size: 24px;
    color: red;
    position:relative;
    top: 43px;
    left: 130px;
}
/*上から3つ目の必須*/
.hissu3{
    color: red;
    font-size: 24px;
    position:relative;
            top: 30px;
            left: 180px;
}
/*上から4つ目の必須*/
.hissu4{
    color: red;
    font-size: 24px;
    position:relative;
            top: 30px;
            left: 186px;
}
/*生年月日文字*/
.umarekoumoku{
    font-size: 24px;
    position:relative;
			top: -20px;
            margin:50px;
            right: 120px;
}
/*性別文字*/
.seibetukoumoku{
    font-size: 24px;
    position:relative;
			top: -126px;
            margin:50px;
            right: 144px;
}
/*性別テキスト*/
.seibetu{
    width: 188px;
    height: 46px;
    position:relative;
			top: -10px;
            right: -138px;
}
/*年文字*/
.nenmozi{
    font-size: 18px;
    position:relative;
    top: 13px;
    left: 100px;
}
/*月文字*/
.tukimozi{
    font-size: 18px;
    position:relative;
    top: -35px;
    left: -10px;
}
/*日文字*/
.nitimozi{
    font-size: 18px;
    position:relative;
    top: -35px;
    left: 25px;
}
/*警告文*/
.keikoku{
    font-size: 24px;
    background-color: aqua;
    width: 600px;
    height: 190px;
    position:relative;
			top: -180px;
}
.check{
    width: 40px;
    height: 40px;
    position:relative;
			top: -200px;
}
.doui{
    font-size: 36px;
    position:relative;
			top: -205px;
}
/*変更せずに戻るボタン*/
.modoru{
    background-color: lawngreen;
    width: 210px;
    height: 120px;
    font-size: 32px;
    border: none;
    transition: .3s;
    position:relative;
			top: 0px;
			right: 0px;
}
/*変更せずに戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*登録ボタン*/
.touroku{
    width: 290px;
    height: 162px;
    font-size: 36px;
    border: none;
    transition: .3s;
    position:relative;
			top: 30px;
			left: 15px;
}
/*登録ボタン動き*/
.touroku:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
        width: 300px;
        height: 400px;
        position:relative;
            top: -50px;
            right: 8px;
    }
/*下線*/
    .kaiinn{
        font-size: 15px;
        position:relative;
        top: 20px;
    }
/*ネーム文字*/
    .nemukoumoku{
        font-size: 15px;
        margin:0px;
        position:relative;
            top: 50px;
            right: 30px;
    }
/*ネームテキスト*/
    .nemu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*上から1つ目の必須*/
    .hissu1{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*身長文字*/
    .sintyoukoumoku{
        font-size: 15px;
        position:relative;
            top: 100px;
            right: -11px;
    }
/*身長テキスト*/
    .sintyou{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*ｃｍ文字*/
    .cm{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 25px;
    }
    .hissu3{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*体重文字*/
    .taijuukoumoku{
        font-size: 15px;
        position:relative;
            top: 150px;
            right: -9px;
    }
/*体重テキスト*/
    .taijuu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*ｋｇ文字*/
    .kg{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 25px;
    }
    .hissu4{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 25px;
    }
    .touroku{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
            top: 200px;
            left: 0px;
    }
/*変更せずに戻るボタン*/
    .modoru{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
            top: 440px;
            left: 22px;
    }
}