@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 668px;
    height: 2080px;
    position:relative;
			top: -20px;
}
/*○○さん
.namae{
    font-size: 15px;
    position:relative;
            left: 87%;
}
*/
/*上の戻るボタン*/
.modoru1{
    font-size: 24px;
    background-color: lawngreen;
    width: 136px;
    height: 80px;
    border: none;
    transition: .3s;
    position:relative;
			top: 50px;
            left: -230px;
}
/*上の戻るボタン動き*/
.modoru1:hover{
    transform: translate3d(0, 5px, 0);
    color: #007db9;
    box-shadow: none;
}
/*過去の記録文字*/
.kakonokiroku{
    font-size: 48px;
    width: 250px;
    position:relative;
			top: -100px;
            right: 0px;
}
/*年月日文字*/
.nentukihi{
    font-size: 48px;
    position:relative;
			top: -175px;
            left: 0px;
}
/*上の記録するボタン*/
.kiroku1{
    font-size: 24px;
    width: 136px;
    height: 80px;
    border: none;
    transition: .3s;
    position:relative;
            top: -270px;
            left: 230px;
}
/*上の記録するボタン動き*/
.kiroku1:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;
    box-shadow: none;
}
/*基本項目文字*/
.kihonkoumoku{
    font-size: 36px;
    position:relative;
            top: -230px;
            left: 0px;
}
/*体温文字*/
.taionmozi{
    font-size: 24px;
    position:relative;
            top: -200px;
            left: -55px;
}
/*体温テキスト*/
.taion{
    width: 180px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 50px;
}
/*℃文字*/
.do{
    font-size: 24px;
    position:relative;
            top: 15px;
            left: 60px;
}
/*歩数文字*/
.hosuumozi{
    font-size: 24px;
    position:relative;
    top: -190px;
            left: -55px;
}
/*歩数テキスト*/
.hosuu{
    width: 180px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 50px;
}
/*歩文字*/
.ho{
    font-size: 24px;
    position:relative;
            top: 15px;
            left: 60px;
}
/*睡眠時間*/
.suiminmozi{
    font-size: 24px;
    position:relative;
            top: -160px;
            left: -32px;
}
/*時テキスト*/
.zi{
    width: 80px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 26px;
}
/*時文字*/
.zimozi{
    font-size: 24px;
    position:relative;
            top: 10px;
            left: 30px;
}
/*分テキスト*/
.hun{
    width: 80px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 32px;
}
/*分文字*/
.hunmozi{
    font-size: 24px;
    position:relative;
            top: 10px;
            left: 34px;
}
/*摂取カロリー文字*/
.karorimozi{
    font-size: 24px;
    position:relative;
            top: -120px;
            left: 0px;
}
/*朝文字*/
.asamozi{
    font-size: 24px;
    position:relative;
            top: 0px;
            left: 10px;
}
/*朝テキスト*/
.asa{
    width: 110px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 9px;
}
/*朝カロリー文字*/
.asakcal{
    font-size: 24px;
    position:relative;
            top: 0px;
            left: 11px;
}
/*昼文字*/
.hirumozi{
    font-size: 24px;
    position:relative;
            top: 0px;
            left: 20px;
}
/*昼テキスト*/
.hiru{
    width: 110px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 19px;
}
/*昼カロリー文字*/
.hirukcal{
    font-size: 24px;
    position:relative;
            top: 0px;
            left: 19px;
}
/*晩文字*/
.banmozi{
    font-size: 24px;
    position:relative;
            top: -117px;
            left: -18px;
}
/*晩テキスト*/
.ban{
    width: 110px;
    height: 40px;
    position:relative;
            top: -120px;
            left: -17px;
}
/*晩カロリー文字*/
.bankcal{
    font-size: 24px;
    position:relative;
            top: -120px;
            left: -12px;
}
/*運動*/
.undoumozi{
    font-size: 24px;
    position:relative;
            top: -70px;
            left: -49px;
}
/*時間テキスト*/
.zi2{
    width: 80px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 43px;
}
/*時文字*/
.zimozi2{
    font-size: 24px;
    position:relative;
            top: 10px;
            left: 47px;
}
/*分テキスト*/
.hun2{
    width: 80px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 49px;
}
/*分文字*/
.hunmozi2{
    font-size: 24px;
    position:relative;
            top: 10px;
            left: 51px;
}
/*その他の項目*/
.sonotamozi{
    font-size: 36px;
    background-color: white;
    position:relative;
            top: -40px;
}
/*枠*/
.sonota{
    width: 650px; 
    height: 1000px;
    border:1px
    solid black;
    position:relative;
            top: -40px;
}
/*身長文字*/
.sintyoumozi{
    font-size: 24px;
    position:relative;
            top: 20px;
            left: -44px;
}
/*身長テキスト*/
.sintyou{
    width: 180px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 50px;
}
/*ｃｍ文字*/
.cm{
    font-size: 24px;
    position:relative;
            top: 15px;
            left: 60px;
}
/*体重文字*/
.taijuumozi{
    font-size: 24px;
    position:relative;
            top: 20px;
            left: -48px;
}
/*体重テキスト*/
.taijuu{
    width: 180px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 50px;
}
/*ｋｇ文字*/
.kg{
    font-size: 24px;
    position:relative;
            top: 15px;
            left: 60px;
}
/*血圧文字*/
.ketuatumozi{
    font-size: 24px;
    position:relative;
            top: 20px;
            left: -48px;
}
/*上文字*/
.ue{
    font-size: 24px;
    position:relative;
            top: 0px;
            left: 23px;
}
/*血圧上テキスト*/
.ketuatu1{
    width: 180px;
    height: 40px;
    position:relative;
            top: 0px;
            left: 24px;
}
/*下文字*/
.sita{
    font-size: 24px;
    position:relative;
            top: 0px;
            left: 0px;
}
/*血圧下テキスト*/
.ketuatu2{
    width: 180px;
    height: 40px;
    position:relative;
            top: -5px;
            left: 0px;
}
/*体脂肪率文字*/
.taisiboumozi{
    font-size: 24px;
    position:relative;
            top: 20px;
            left: -44px;
}
/*体脂肪率テキスト*/
.taisibou{
    width: 180px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 21px;
}
/*％文字*/
.pa{
    font-size: 24px;
    position:relative;
            top: 15px;
            left: 31px;
}
/*水分補給文字*/
.suibunmozi{
    font-size: 24px;
    position:relative;
            top: 40px;
            left: -33px;
}
/*水分補給テキスト*/
.suibun{
    width: 180px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 12px;
}
/*ｍｌ文字*/
.ml{
    font-size: 24px;
    position:relative;
            top: 13px;
            left: 17px;
}

/*飲酒文字*/
.insyumozi{
    font-size: 24px;
    position:relative;
            top: 40px;
            left: -33px;
}
/*飲酒テキスト*/
.insyu{
    width: 180px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 36px;
}
/*ｍｌ文字*/
.ml2{
    font-size: 24px;
    position:relative;
            top: 13px;
            left: 41px;
}
/*喫煙文字*/
.kituenmozi{
    font-size: 24px;
    position:relative;
            top: 70px;
            left: -49px;
}
/*喫煙テキスト*/
.kituen{
    width: 180px;
    height: 40px;
    position:relative;
            top: -4px;
            left: 49px;
}
/*本文字*/
.hon{
    font-size: 24px;
    position:relative;
            top: 15px;
            left: 60px;
}
/*日記文字*/
.nikkimozi{
    font-size: 24px;
    width: 50px;
    height: 0px;
    margin: 10px;
    position:relative;
            top: 100px;
            left: -149px;
}
/*日記テキスト*/
.nikki{
    width: 330px;
    height: 247px;
    position:relative;
            top: 0px;
            left: 96px;
}
/*下の戻るボタン*/
.modoru2{
    font-size: 48px;
    background-color: lawngreen;
    width: 252px;
    height: 150px;
    border: none;
    transition: .3s;
    position:relative;
			top: -50px;
            left: -30px;
}
/*下の戻るボタン動き*/
.modoru2:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*下の記録するボタン*/
.kiroku2{
    font-size: 48px;
    width: 252px;
    height: 150px;
    border: none;
    transition: .3s;
    position:relative;
			top: -14px;
            left: 30px;
}
/*下の記録するボタン動き*/
.kiroku2:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
     background-color: white;
        width: 350px;
        height: 1270px;
        position:relative;
			top: 0px;
            right: 8px;
    }
/*上の戻るボタン*/
    .modoru1{
        font-size: 15px;
        width: 90px;
        height: 50px;
        position:relative;
			top: 15px;
            left: -120px;
    }
/*過去の記録文字*/
    .kakonokiroku{
        font-size: 20px;
        position:relative;
			top: -50px;
    }
/*年月日文字*/
.nentukihi{
    font-size: 20px;
    position:relative;
			top: -80px;
            left: 0px;
}
/*上の記録するボタン*/
    .kiroku1{
        font-size: 15px;
        width: 90px;
        height: 50px;
        position:relative;
			top: -134px;
            left: 120px;
    }
/*基本項目文字*/
    .kihonkoumoku{
        font-size: 20px;
        position:relative;
            top: -70px;
            left: -115px;
    }
/*体温文字*/
    .taionmozi{
        font-size: 15px;
        position:relative;
            top: -83px;
            left: 0px;
    }
/*体温テキスト*/
    .taion{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*℃文字*/
    .do{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*歩数文字*/
    .hosuumozi{
        font-size: 15px;
        position:relative;
            top: -65px;
            left: 0px;
    }
/*歩数テキスト*/
    .hosuu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*歩文字*/
    .ho{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*睡眠時間*/
    .suiminmozi{
        font-size: 15px;
        position:relative;
            top: -46px;
            left: 4px;
    }
/*時テキスト*/
    .zi{
        width: 40px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*時文字*/
    .zimozi{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*分テキスト*/
    .hun{
        width: 40px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*分文字*/
    .hunmozi{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*摂取カロリー文字*/
    .karorimozi{
        font-size: 15px;
        position:relative;
            top: -22px;
            left: 9px;
    }
/*朝文字*/
    .asamozi{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*朝テキスト*/
    .asa{
        width: 55px;
        height: 20px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*朝カロリー文字*/
    .asakcal{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*昼文字*/
    .hirumozi{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*昼テキスト*/
    .hiru{
        width: 55px;
        height: 20px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*昼カロリー文字*/
    .hirukcal{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*晩文字*/
    .banmozi{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 1px;
    }
/*晩テキスト*/
    .ban{
        width: 55px;
        height: 20px;
        position:relative;
            top: 0px;
            left: 1px;
    }
/*晩カロリー文字*/
    .bankcal{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 1px;
    }
/*運動*/
    .undoumozi{
        font-size: 15px;
        position:relative;
            top: 20px;
            left: 4px;
    }
/*時間テキスト*/
    .zi2{
        width: 40px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*時文字*/
    .zimozi2{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*分テキスト*/
    .hun2{
        width: 40px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*分文字*/
    .hunmozi2{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*その他の項目*/
    .sonotamozi{
        font-size: 20px;
        position:relative;
            top: 30px;
            left: 0px;
    }
/*枠*/
    .sonota{
        width: 330px;
        height: 600px;
        position:relative;
            top: 40px;
    }
/*体重文字*/
    .taijuumozi{
        font-size: 15px;
        position:relative;
            top: 5px;
            left: 0px;
    }
/*体重テキスト*/
    .taijuu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*ｋｇ文字*/
    .kg{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*血圧文字*/
    .ketuatumozi{
        font-size: 15px;
        position:relative;
            top: 20px;
            left: -16px;
    }
/*上文字*/
    .ue{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*血圧上テキスト*/
    .ketuatu1{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*下文字*/
    .sita{
        font-size: 15px;
        position:relative;
            top: 37px;
            left: -1px;
    }
/*血圧下テキスト*/
    .ketuatu2{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 37px;
            left: -1px;
    }
/*体脂肪率文字*/
    .taisiboumozi{
        font-size: 15px;
        position:relative;
            top: 50px;
            left: -16px;
    }
/*体脂肪率テキスト*/
    .taisibou{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*％文字*/
    .pa{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*水分補給文字*/
    .suibunmozi{
        font-size: 15px;
        position:relative;
            top: 65px;
            left: -14px;
    }
/*水分補給テキスト*/
    .suibun{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*ｍｌ文字*/
    .ml{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*飲酒文字*/
    .insyumozi{
        font-size: 15px;
        position:relative;
            top: 80px;
            left: 1px;
    }
/*飲酒テキスト*/
    .insyu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*ｍｌ文字*/
    .ml2{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*喫煙文字*/
    .kituenmozi{
        font-size: 15px;
        position:relative;
            top: 95px;
            left: 0px;
    }
/*喫煙テキスト*/
    .kituen{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*本文字*/
    .hon{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 0px;
    }
/*日記文字*/
    .nikkimozi{
        font-size: 15px;
        position:relative;
            top: 107px;
            left: -49px;
}
/*日記テキスト*/
    .nikki{
        width: 165px;
        height: 124px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 10px;
            left: 42px;
    }
/*下の戻るボタン*/
    .modoru2{
        font-size: 20px;
        width: 120px;
        height: 60px;
        position:relative;
			top: 60px;
            left: -20px;
    }
/*下の記録するボタン*/
    .kiroku2{
        font-size: 20px;
        width: 120px;
        height: 60px;
        position:relative;
			top: 74px;
            left: 20px;
    }
}