@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*○○さん
.user{
    font-size: 15px;
    position:relative;
            left: 87%;
}
*/
/*カレンダー範囲*/
main{
    background-color: white;
    width: 250px;
    height: 340px;
    position:relative;
			right: 475px;
            top: 0px;
}
/*カレンダー*/
.karenda{
    position:relative;
			right: 40px;
            top: 20px;
}
/*カレンダーボタン*/
.karendabotan{
    position:relative;
			right: 89px;
            top: 30px;
}
/*項目範囲*/
section{
    background-color: white;
    width: 1200px;
    height: 350px;
    position:relative;
			top: 30px;
}
/*日記文字*/
.nikkimozi{
    width: 1500px;
    margin: 0px;
    height: 0px;
    font-size: 24px;
    position:relative;
            top: 240px;
			left: -230px;
}
/*日記テキスト*/
.nikki{
    width: 805px;
    height: 70px;
}
/*体温文字*/
.taionmozi{
    width: 200px;
    margin: 0px;
    height: 0px;
    font-size: 24px;
    position:relative;
        top: 60px;
        right: 420px;
}
/*体温テキスト*/
.taion{
     width: 100px;
    height: 40px;
    position:relative;
			top: 0px;
}
/*℃*/
.do{
    font-size: 24px;
}
/*歩数文字*/
.hosuumozi{
    width: 200px;
    margin: 0px;
    height: 0px;
    font-size: 24px;
    position:relative;
        top: 60px;
        right: 160px;
}
/*歩数テキスト*/
.hosuu{
    width: 100px;
   height: 40px;
   position:relative;
           top: 0px;
}
/*歩*/
.ho{
    font-size: 24px;
}
/*睡眠時間文字*/
.suiminmozi{
    width: 210px;
    margin: 0px;
    height: 0px;
    font-size: 24px;
    position:relative;
        top: 60px;
        right: -100px;
}
/*睡眠時間テキスト*/
.zi{
    width: 100px;
   height: 40px;
   position:relative;
           top: 0px;
}
/*運動時間文字*/
.undoumozi{
    width: 210px;
    margin: 0px;
    height: 0px;
    font-size: 24px;
    position:relative;
        top: 60px;
        right: -370px;
}
/*運動時間テキスト*/
.zi2{
    width: 100px;
   height: 40px;
   position:relative;
           top: 0px;
}
/*朝カロリー文字*/
.asakarorimozi{
    width: 290px;
    margin: 0px;
    height: 0px;
    font-size: 24px;
    position:relative;
        top: 160px;
        right: 445px;
}
/*朝カロリーテキスト*/
.asakarori{
     width: 100px;
    height: 40px;
    position:relative;
			top: 0px;
}
/*朝kkcal*/
.kcal1{
    font-size: 24px;
}
/*昼カロリー文字*/
.hirukarorimozi{
    width: 290px;
    margin: 0px;
    height: 0px;
    font-size: 24px;
    position:relative;
        top: 160px;
        right: 90px;
}
/*昼カロリーテキスト*/
.hirukarori{
     width: 100px;
    height: 40px;
    position:relative;
			top: 0px;
}
/*昼kkcal*/
.kcal2{
    font-size: 24px;
}
/*晩カロリー文字*/
.bankarorimozi{
    width: 290px;
    margin: 0px;
    height: 0px;
    font-size: 24px;
    position:relative;
        top: 160px;
        right: -260px;
}
/*晩カロリーテキスト*/
.bankarori{
     width: 100px;
    height: 40px;
    position:relative;
			top: 0px;
}
/*晩kkcal*/
.kcal3{
    font-size: 24px;
}

/*変更ボタン*/
.henkou{
    background-color: green;
    border: none;
    transition: .3s;
    position:relative;
    top: 0px;
			left: 140px;
    
}
/*変更ボタン動き*/
.henkou:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*戻るボタン*/
.modoru{
    background-color: yellowgreen;
    width: 204px;
    height: 70px;
    font-size: 24px;
    border: none;
    transition: .3s;
    position:relative;
			top: 40px;
			right: -360px;
}
/*戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*カレンダー範囲*/
    main{
        width: 180px;
        height: 100px;
        position:relative;
			right: 93px;
            top: -15px;
    }
/*カレンダー*/
    .karenda{
        position:relative;
			right: 15px;
            top: 5px;
    }
/*カレンダーボタン*/
    .karendabotan{
        position:relative;
			right: 61px;
            top: 40px;
    }
/*項目範囲*/
    section{
        width: 350px;
        height: 350px;
        position:relative;
			top: -5px;
            right: 8px;
    }
/*日付*/
.hiduke{
    position:relative;
			top: 15px;
            right: 25px;
}
/*体温文字*/
    .taionmozi{
        font-size: 11px;
        position:relative;
            top: 50px;
            right: 73px;
}
/*体温テキスト*/
    .taion{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
			top: 0px;
    }
/*℃*/
    .do{
        font-size: 11px;
    }
/*歩数文字*/
    .hosuumozi{
        width: 116px;
        font-size: 11px;
        position:relative;
            top: 50px;
            right: -92px;
    }
/*歩数テキスト*/
    .hosuu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
           top: 0px;
    }
/*歩*/
.ho{
    font-size: 11px;
    position:relative;
           top: -21px;
           left: 60px;
    }
/*睡眠時間文字*/
    .suiminmozi{
        font-size: 11px;
        position:relative;
            top: 100px;
            right: 90px;
    }
/*睡眠時間テキスト*/
    .zi{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
           top: 0px;
    }
/*運動時間文字*/
    .undoumozi{
        width: 126px;
        font-size: 11px;
        position:relative;
            top: 104px;
            right: -38px;
    }
/*運動時間テキスト*/
    .zi2{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
           top: -20px;
           right: -65px;
    }
/*朝カロリー文字*/
    .asakarorimozi{
        font-size: 11px;
        position:relative;
            top: 150px;
            right: 85px;
    }
/*朝カロリーテキスト*/
    .asakarori{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
			top: 0px;
    }
/*朝kkcal*/
    .kcal1{
        font-size: 11px;
    }
/*昼カロリー文字*/
    .hirukarorimozi{
        width: 158px;
        font-size: 11px;
        position:relative;
            top: 150px;
            right: -75px;
    }
/*昼カロリーテキスト*/
    .hirukarori{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
			top: 0px;
    }
/*昼kkcal*/
    .kcal2{
        font-size: 11px;
        position:relative;
            top: -20px;
            right: -82px;
    }
/*晩カロリー文字*/
    .bankarorimozi{
        font-size: 11px;
        position:relative;
            top: 200px;
            right: 85px;
    }
/*晩カロリーテキスト*/
    .bankarori{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
			top: 0px;
    }
/*晩kkcal*/
    .kcal3{
        font-size: 11px;
    }
/*日記文字*/
    .nikkimozi{
        width: 325px;
        font-size: 11px;
        position:relative;
            top: 260px;
			left: 0px;
    }
/*日記テキスト*/
    .nikki{
        width: 300px;
        height: 30px;
        border-width: 1px;
        border-color: black;
    }
/*変更ボタン*/
    .henkou{
        font-size: 15px;
        width: 50px;
        height: 35px;
        position:relative;
            top: 15px;
			left: 130px;
    
    }
/*戻るボタン*/
    .modoru{
        font-size: 15px;
        width: 140px;
        height: 50px;
        position:relative;
            top: 10px;
			right: 3px;
    }
}