@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 1156px;
    height: 450px;
}
/*設定・ログアウトボタン範囲*/
section{
    background-color: white;
    width: 730px;
    height: 280px;
}
/*○○さん
a{
    font-size: 15px;
    position:relative;
            left: 87%;
}
*/
/*下線*/
u{
    font-size: 36px;
    position:relative;
			top: 50px;
}
/*本日の記録ボタン*/
.honzitunokiroku{
    width: 320px;
    height: 150px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 140px;
			right: 104px;
}
/*本日の記録ボタン動き*/
.honzitunokiroku:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*過去の記録ボタン*/
.kakonokiroku{
    width: 320px;
    height: 150px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 140px;
			left: 98px;
}
/*過去の記録ボタン動き*/
.kakonokiroku:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*統計ボタン*/
.toukei{
    width: 320px;
    height: 150px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 250px;
			right: 324px;
}
/*統計ボタン動き*/
.toukei:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*設定ボタン*/
.settei{
    color: white;
    width: 276px;
    height: 150px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 65px;
			right: 30px;
}
/*設定ボタン動き*/
.settei:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*ログアウトボタン*/
.roguauto{
    color: white;
    width: 276px;
    height: 150px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 65px;
			left: 30px;
}
/*ログアウトボタン動き*/
.roguauto:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
        width: 330px;
        height: 250px;
        position:relative;
			top: 0px;
            right: 8px;
    }
/*設定・ログアウトボタン範囲*/
    section{
        width: 330px;
        height: 200px;
        position:relative;
			top: 10px;
            right: 8px;
    }
/*下線*/
    u{
        font-size: 20px;
        position:relative;
			top: 5px;
    }
/*本日の記録ボタン*/
    .honzitunokiroku{
        width: 250px;
        height: 60px;
        font-size: 40px;
        position:relative;
			top: 35px;
			right: 0px;
    }
/*過去の記録ボタン*/
    .kakonokiroku{
        width: 250px;
        height: 60px;
        font-size: 40px;
        position:relative;
			top: 75px;
			left: 0px;
    }
/*設定ボタン*/
    .settei{
        width: 250px;
        height: 60px;
        font-size: 40px;
        position:relative;
			top: 20px;
			right: 0px;
    }
/*ログアウトボタン*/
    .roguauto{
        width: 250px;
        height: 60px;
        font-size: 40px;
        position:relative;
			top: 60px;
			left: 0px;
    }
}