@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    overflow-y: clip;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 668px;
    height: 794px;
    position:relative;
			top: 0px;
            right: 8px;
}
/*○○さん
a{
    font-size: 15px;
    position:relative;
            left: 87%;
}
*/
/*下線*/
.kasen{
    font-size: 36px;
    position:relative;
    top: 30px;
}
/*現パス文字*/
.genpasumozi{
    font-size: 24px;
    position:relative;
    top: 45px;
    left: -62px;
}
/*現パステキスト*/
.genpasu{
    width: 332px;
    height: 82px;
    position:relative;
    top: -4px;
    left: 96px;
}
/*新パス文字*/
.sinnpasumozi{
    font-size: 24px;
    position:relative;
    top: 45px;
    left: -62px;
}
/*新パステキスト*/
.sinnpasu{
    width: 332px;
    height: 82px;
    position:relative;
    top: -4px;
    left: 96px;
}
/*新パス確認文字*/
.kakuninnmozi{
    font-size: 24px;
    position:relative;
    top: 50px;
    left: -232px;
}
/*新パス確認テキスト*/
.kakuninn{
    width: 332px;
    height: 82px;
    position:relative;
    top: -80px;
    left: 338px;
}
/*変更せずに戻るボタン*/
.modoru{
    background-color: lawngreen;
    width: 200px;
    height: 100px;
    font-size: 36px;
    border: none;
    transition: .3s;
    position:relative;
			top: 40px;
			right: 50px;
}
/*変更せずに戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*変更ボタン*/
.henkou{
    width: 200px;
    height: 100px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 66px;
			right: -50px;
}
/*変更ボタン動き*/
.henkou:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
    width: 300px;
    height: 480px;
    position:relative;
			top: 0px;
    }
/*下線*/
    .kasen{
        font-size: 15px;
        position:relative;
        top: 15px;
    }
/*現パス文字*/
.genpasumozi{
    font-size: 15px;
    position:relative;
    top: 60px;
    left: 0px;
}
/*現パステキスト*/
    .genpasu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
        top: 0px;
        left: 0px;
    }
/*新パス文字*/
    .sinnpasumozi{
        font-size: 15px;
        position:relative;
            top: 90px;
            left: 0px;
    }
/*新パステキスト*/
    .sinnpasu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
        top: 0px;
        left: 0px;
    }
/*新パス確認文字*/
    .kakuninnmozi{
        font-size: 15px;
        position:relative;
            top: 120px;
            left: -40px;
    }
/*新パス確認テキスト*/
    .kakuninn{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
        top: -45px;
        left: 85px;
    }
    .modoru{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
                top: 150px;
                right: 20px;
    }
/*変更ボタン*/
    .henkou{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
			top: 162px;
			right: -20px;
    }
}