@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 668px;
    height: 805px;
}
/*説明文*/
.setumei{
    background-color: blueviolet;
    color: white;
    width: 599px;
    height: 250px;
    font-size: 32px;
    position:relative;
			top: 30px;
}
/*下線*/
u{
    font-size: 36px;
    position:relative;
			top: 30px;
}
/*メールアドレス*/
.meru{
    font-size: 24px;
    position:relative;
			top: 30px;
}

.id{
    font-size: 24px;
    position:relative;
			top: 50px;

}
.text2{
    width: 332px;
    height: 41px;
    position:relative;
    left:18px;

}
/*メールアドレス入力欄*/
.text{
    width: 332px;
    height: 41px;
}
/*戻るボタン*/
.modoru{
    background-color: khaki;
    width: 250px;
    height: 150px;
    font-size: 32px;
    border: none;
    transition: .3s;
    position:relative;
			top: 46px;
			right: 30px;
}
/*戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*送信ボタン*/
.sousin{
    width: 250px;
    height: 150px;
    font-size: 32px;
    color: white;
    border: none;
    transition: .3s;
    position:relative;
			top: 70px;
			left: 30px;
}
/*送信ボタン動き*/
.sousin:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
        width: 300px;
        height: 480px;
    }
/*説明文*/
    .setumei{
        width: 280px;
        height: 130px;
        font-size: 17px;
        color: white;
        position:relative;
                top: 30px;
    }
/*下線*/
    u{
        font-size: 20px;
        position:relative;
            top: 15px;
    }
/*メールアドレス*/
    .meru{
        font-size: 15px;
        position:relative;
			top: 80px;
    }
/*メールアドレス入力欄*/
    .text{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
    }
/*戻るボタン*/
    .modoru{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
			top: 130px;
			right: 20px;
    }
/*送信ボタン*/
    .sousin{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
			top: 142px;
			left: 20px;
    }
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
        width: 300px;
        height: 480px;
    }
/*説明文*/
    .setumei{
        width: 280px;
        height: 130px;
        font-size: 17px;
        position:relative;
                top: 30px;
    }
/*下線*/
    u{
        font-size: 20px;
        position:relative;
            top: 15px;
    }
/*メールアドレス*/
    .meru{
        font-size: 15px;
        position:relative;
            top: 120px;
            left: 4px;
    }
/*メールアドレス入力欄*/
    .text{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
    }
/*ID*/
.ID{
    font-size: 15px;
    position:relative;
			top: 0px;

}

.id{
    width: 80px;
    height: 20px;
    border-width: 1px;
    border-color: black;
}

/*戻るボタン*/
    .modoru{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
            top: 130px;
            right: 20px;
    }
/*送信ボタン*/
    .sousin{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
            top: 142px;
            left: 20px;
    }
}