@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    overflow-y: clip;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 668px;
    height: 794px;
    position:relative;
			top: -110px;
}
/*下線*/
.roguinnmozi{
    font-size: 36px;
    position:relative;
    top: 50px;
}
/*ID文字*/
.idmozi{
    font-size: 24px;
    position:relative;
    top: 90px;
    left: -62px;
}
/*IDテキスト*/
.id{
    width: 332px;
    height: 82px;
    position:relative;
    top: -4px;
    left: 94px;
}
/*パス文字*/
.pasumozi{
    font-size: 24px;
    position:relative;
    top: 120px;
    left: -62px;
}
/*パステキスト*/
.pasu{
    width: 332px;
    height: 82px;
    position:relative;
    top: -4px;
    left: 96px;
}
/*変更せずに戻るボタン*/
.modoru{
    background-color: lawngreen;
    width: 210px;
    height: 120px;
    font-size: 32px;
    border: none;
    transition: .3s;
    position:relative;
			top: 0px;
			right: 0px;
}
/*変更せずに戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*ログインボタン*/
.roguinn{
    width: 290px;
    height: 158px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 180px;
			right: 0px;
}
/*ログインボタン動き*/
.roguinn:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*リンク*/
.rinku1{
    font-size: 18px;
    position:relative;
    top: 230px;
    left: 0px;
}
.rinku2{
    font-size: 18px;
    position:relative;
    top: 250px;
    left: 0px;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
        width: 300px;
        height: 400px;
        position:relative;
            top: -30px;
            right: 8px;
    }
/*下線*/
    .roguinnmozi{
        font-size: 15px;
        position:relative;
        top: 20px;
    }
/*ID文字*/
    .idmozi{
        font-size: 15px;
        position:relative;
            top: 50px;
            left: -30px;
    }
/*IDテキスト*/
    .id{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*パス文字*/
    .pasumozi{
        font-size: 15px;
        position:relative;
            top: 80px;
            left: -30px;
    }
/*パステキスト*/
    .pasu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*変更せずに戻るボタン*/
    .modoru{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
        top: 440px;
        left: 22px;
    }
/*ログインボタン*/
    .roguinn{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
			top: 130px;
			right: 0px;
    }
/*リンク*/
    .rinku1{
        font-size: 13px;
        position:relative;
            top: 160px;
            left: 0px;
    }
    .rinku2{
        font-size: 13px;
        position:relative;
            top: 175px;
            left: 0px;
    }
}