@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 668px;
    height: 850px;
    position:relative;
			top: -145px;
}
/*下線*/
.sinnki{
    font-size: 36px;
    position:relative;
    top: 20px;
}
/*アドレス文字*/
.adoresumozi{
    font-size: 24px;
    position:relative;
    top: 40px;
    left: -40px;
}
/*アドレステキスト*/
.adoresu{
    width: 332px;
    height: 82px;
    position:relative;
    top: -4px;
    left: 50px;
}
/*ID文字*/
.idmozi{
    font-size: 24px;
    position:relative;
    top: 40px;
    left: -62px;
}
/*IDテキスト*/
.id{
    width: 332px;
    height: 82px;
    position:relative;
    top: -4px;
    left: 94px;
}
/*警告文*/
.keikoku{
    color: red;
    font-size: 24px;
    position:relative;
    top: 10px;
    left: 80px;
}
/*パス文字*/
.pasumozi{
    font-size: 24px;
    position:relative;
    top: -5px;
    left: -62px;
}
/*パステキスト*/
.pasu{
    width: 332px;
    height: 82px;
    position:relative;
    top: -4px;
    left: 96px;
}
/*パス確認文字*/
.kakuninnmozi{
    font-size: 24px;
    position:relative;
    top: 0px;
    left: -232px;
}
/*パス確認テキスト*/
.kakuninn{
    width: 332px;
    height: 82px;
    position:relative;
    top: -80px;
    left: 326px;
}
/*変更せずに戻るボタン*/
.modoru{
    background-color: lawngreen;
    width: 210px;
    height: 120px;
    font-size: 32px;
    border: none;
    transition: .3s;
    position:relative;
			top: 0px;
			right: 0px;
}
/*変更せずに戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*新規登録ボタン*/
.touroku{
    width: 290px;
    height: 160px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: -50px;
			right: 0px;
}
/*新規登録ボタン動き*/
.touroku:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*リンク*/
.rinku{
    font-size: 18px;
    position:relative;
    top: -40px;
    left: 0px;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
    main{
        width: 300px;
        height: 480px;
        position:relative;
        top: -70px;
        right: 8px;
    }
    .sinnki{
        font-size: 15px;
        position:relative;
        top: 30px;
    }
    .adoresumozi{
        font-size: 15px;
        position:relative;
            top: 60px;
            left: -30px;
    }
    .adoresu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 25px;
    }
    .idmozi{
        font-size: 15px;
            position:relative;
            top: 88px;
            left: -30px;
        }
    .id{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 40px;
    }
    .keikoku{
        font-size: 11px;
        position:relative;
            top: 75px;
            left: 78px;
    }
    .pasumozi{
        font-size: 15px;
        position:relative;
            top: 80px;
            left: -30px;
    }
    .pasu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 40px;
    }
    .kakuninnmozi{
        font-size: 15px;
        position:relative;
            top: 100px;
            left: -71px;
    }
    .kakuninn{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: -45px;
            left: 118px;
    }
    .touroku{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
			top: 85px;
			right: 0px;
    }
    .rinku{
        font-size: 15px;
        position:relative;
        top: 100px;
        left: 0px;
    }
    .modoru{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
        top: 480px;
        left: 22px;
    }
}