@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 837px;
    height: 642px;
    position:relative;
			top: -5px;
}
/*○○さん
a{
    font-size: 15px;
    position:relative;
            left: 87%;
}
*/
/*初めの警告*/
.keikoku{
    font-size: 48px;
    color: white;
    background-color: red;
    width: 730px;
    height: 65px;
    position:relative;
			top: 20px;
}
/*説明*/
.setumei{
    font-size: 36px;
    position:relative;
			top: 20px;
}
/*再度警告*/
.saidokeikoku{
    font-size: 36px;
    color: red;
    position:relative;
			top: 20px;
}
/*戻るボタン*/
.modoru{
    width: 178px;
    height: 100px;
    font-size: 48px;
    color: white;
    border: none;
    transition: .3s;
    position:relative;
			top: 0px;
			right: 80px;
}
/*戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*削除ボタン*/
.sakujo{
    width: 178px;
    height: 100px;
    font-size: 48px;
    color: white;
    border: none;
    transition: .3s;
    position:relative;
			top: 0px;
			left: 80px;
}
/*削除ボタン動き*/
.sakujo:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
        width: 330px;
        height: 400px;
        position:relative;
			top: 0px;
            right: 8px;
    }
/*初めの警告*/
    .keikoku{
        font-size: 20px;
        font-weight:  bold;
        width: 300px;
        height: 30px;
        position:relative;
			top: 20px;
    }
/*説明*/
    .setumei{
        font-size: 18px;
        position:relative;
			top: 50px;
    }
/*再度警告*/
    .saidokeikoku{
        font-size: 20px;
        position:relative;
			top: 80px;
    }
/*戻るボタン*/
    .modoru{
        width: 100px;
        height: 45px;
        font-size: 30px;
        position:relative;
			top: 80px;
			right: 20px;
    }
/*削除ボタン*/
    .sakujo{
        width: 100px;
        height: 45px;
        font-size: 30px;
        position:relative;
			top: 80px;
			left: 20px;
    }
}