@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 1208px;
    height: 500px;
    position:relative;
			top: 80px;
}
/*みんなの統計範囲
section{
    background-color: white;
    width: 661px;
    height: 298px;
}
*/
/*新規登録ボタン*/
.touroku{
    width: 350px;
    height: 220px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 128px;
			right: 80px;
}
/*新規登録ボタン動き*/
.touroku:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*ログインボタン*/
.roguin{
    width: 350px;
    height: 220px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 128px;
			right: -80px;
}
/*ログインボタン動き*/
.roguin:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*みんなの統計ボタン
.toukei{
    width: 350px;
    height: 220px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 38px;
			right: 0px;
}
/*みんなの統計ボタン動き
.toukei:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
*/
/*スマホ晩*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
        background-color: white;
        width: 330px;
        height: 300px;
        position:relative;
			top: 100px;
            right: 8px;
    }
/*新規登録ボタン*/
    .touroku{
        width: 300px;
        height: 100px;
        font-size: 40px;
        position:relative;
			top: 3px;
			right: 0px;
    }
/*ログインボタン*/
    .roguin{
        width: 300px;
        height: 100px;
        font-size: 40px;
        position:relative;
			top: 50px;
			right: 0px;
    }

}