@charset "utf-8";
/*画面全体*/
body{
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 796px;
    height: 814px;
}
/*○○さん*/
a{
    font-size: 15px;
    position:relative;
            left: 87%;
}
/*下線*/
u{
    font-size: 46px;
    position:relative;
			top: 20px;
			left: -250px;
}

/*自分の統計ボタン*/
.zibun{
    width: 350px;
    height: 220px;
    font-size: 46px;
    border: none;
    transition: .3s;
    position:relative;
			top: 45px;
			left: 180px;
}
/*自分の統計ボタン動き*/
.zibun:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*みんなの統計ボタン*/
.minnna{
    width: 350px;
    height: 220px;
    font-size: 46px;
    border: none;
    transition: .3s;
    position:relative;
			top: 320px;
			left: -176px;
}
/*みんなの統計ボタン動き*/
.minnna:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*メインメニューに戻るボタン*/
.modoru{
    background-color: lawngreen;
    width: 300px;
    height: 100px;
    font-size: 36px;
    border: none;
    transition: .3s;
    position:relative;
			top: 400px;
}
/*メインメニューに戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}