@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 668px;
    height: 750px;
    position:relative;
			top: 0px;
}
/*○○さん
a{
    font-size: 15px;
    position:relative;
            left: 87%;
}
*/
/*下線*/
u{
    font-size: 36px;
    position:relative;
			top: 10px;
}
/*idテキスト*/
.id{
    width: 332px;
    height: 40px;
    position:relative;
    top: -4px;
    left: 91px;
}
/*ネームテキスト*/
.nemu{
    width: 332px;
    height: 40px;
    position:relative;
    top: -4px;
    left: 72px;
}
/*アドレステキスト*/
.adoresu{
    width: 332px;
    height: 40px;
    position:relative;
    top: -4px;
    left: 50px;
}
/*生年月日テキスト*/
.umare{
    width: 180px;
    height: 40px;
    position:relative;
    top: -4px;
    left: 97px;
}
/*月テキスト*/
.tuki{
    width: 58px;
    height: 40px;
    position:relative;
    top: -50px;
    right: 18px;
}
/*日テキスト*/
.hi{
    width: 58px;
    height: 40px;
    position:relative;
    top: -50px;
    right: -20px;
}
/*身長テキスト*/
.sintyou{
    width: 180px;
    height: 40px;
    position:relative;
    top: -4px;
    left: 169px;
    
}
/*ｃｍ文字*/
.cm{
    font-size: 24px;
    position:relative;
    top: 13px;
    left: 173px;
}
/*体重テキスト*/
.taijuu{
    width: 180px;
    height: 40px;
    position:relative;
    top: -4px;
    left: 147px;
    
}
/*ｋｇ文字*/
.kg{
    font-size: 24px;
    position:relative;
    top: 13px;
    left: 150px;
}

/*性別テキスト*/
.seibetu{
    width: 180px;
    height: 40px;
    position:relative;
    top: -4px;
}
/*上から1つ目の必須*/
.hissu1{
    font-size: 24px;
    color: red;
    position:relative;
    top: 10px;
    left: 80px;
}
/*上から2つ目の必須*/
.hissu2{
    font-size: 24px;
    color: red;
    position:relative;
    top: 10px;
    left: 59px;
}
/*上から3つ目の必須*/
.hissu3{
    font-size: 24px;
    color: red;
    position:relative;
    top: 12px;
    left: 180px;
}
/*任意*/
.ninni{
    font-size: 24px;
    position:relative;
            left: 135px;
}
/*id文字*/
.idkoumoku{
    font-size: 24px;
    position:relative;
			top: 0px;
            margin:50px;
            right: 73px;
}
/*ネーム文字*/
.nemukoumoku{
    font-size: 24px;
    position:relative;
			top: -10px;
            margin:50px;
            right: 40px;
}
/*アドレス文字*/
.adoresukoumoku{
    font-size: 24px;
    position:relative;
			top: -20px;
            margin:50px;
            right: 30px;
}
/*生年月日文字*/
.umarekoumoku{
    font-size: 24px;
    position:relative;
			top: -20px;
            margin:50px;
            right: 120px;
}
/*身長文字*/
.sintyoukoumoku{
    font-size: 24px;
    position:relative;
			top: -30px;
            margin:50px;
            right: 147px;
}
/*体重文字*/
.taijuukoumoku{
    font-size: 24px;
    position:relative;
			top: -40px;
            margin:50px;
            right: 136px;
}
/*性別文字*/
.seibetukoumoku{
    font-size: 24px;
    position:relative;
			top: -40px;
            margin:50px;
            right: 144px;
}
/*性別テキスト*/
.seibetu{
    width: 188px;
    height: 46px;
    position:relative;
			top: -10px;
            right: -137px;
}
/*年文字*/
.nenmozi{
    font-size: 18px;
    position:relative;
    top: 13px;
    left: 100px;
}
/*月文字*/
.tukimozi{
    font-size: 18px;
    position:relative;
    top: -35px;
    left: -10px;
}
/*日文字*/
.nitimozi{
    font-size: 18px;
    position:relative;
    top: -35px;
    left: 25px;
}
/*警告文*/
.koku{
    color: red;
    position:relative;
    top: -20px;
}
/*変更せずに戻るボタン*/
.modoru{
    background-color: lawngreen;
    width: 200px;
    height: 100px;
    font-size: 36px;
    border: none;
    transition: .3s;
    position:relative;
			top:-2px;
			right: 50px;
}
/*変更せずに戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*変更ボタン*/
.henkou{
    width: 200px;
    height: 100px;
    font-size: 36px;
    border: none;
    transition: .3s;
    position:relative;
			top: 20px;
			left: 50px;
}
/*変更ボタン動き*/
.henkou:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
        width: 300px;
        height: 480px;
        position:relative;
			top: 0px;
            right: 8px;
    }
/*下線*/
    u{
        font-size: 15px;
        position:relative;
            top: 5px;
    }
/*id文字*/
    .idkoumoku{
        font-size: 15px;
        position:relative;
                top: 20px;
                margin:0px;
                right: 20px;
    }
/*idテキスト*/
    .id{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
        top: 0px;
        left: 25px;
    }
/*ネーム文字*/
    .nemukoumoku{
        font-size: 15px;
        position:relative;
			top: 60px;
            margin:0px;
            right: 13px;
}
/*ネームテキスト*/
    .nemu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
        top: 0px;
        left: 25px;
    }
/*上から1つ目の必須*/
    .hissu1{
        font-size: 15px;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*アドレス文字*/
.adoresukoumoku{
    font-size: 15px;
        position:relative;
			top: 100px;
            margin:0px;
            right: 21px;
    }
/*アドレステキスト*/
    .adoresu{
        width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*上から2つ目の必須*/
.hissu2{
    font-size: 15px;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*身長文字*/
.sintyoukoumoku{
    font-size: 15px;
        position:relative;
			top: 140px;
            margin:0px;
            right: -27px;
    }
/*身長テキスト*/
.sintyou{
    width: 80px;
        height: 20px;
        border-width: 1px;
        border-color: black;
        position:relative;
            top: 0px;
            left: 25px;
    
}
/*ｃｍ文字*/
.cm{
    font-size: 15px;
    position:relative;
    top: 0px;
    left: 25px;
    }
/*上から3つ目の必須*/
.hissu3{
    font-size: 15px;
        position:relative;
            top: 0px;
            left: 25px;
    }
/*警告文*/
    .koku{
        font-size: 8px;
        font-weight: bold;
        position:relative;
            top: 180px;
    }
    /*変更せずに戻るボタン*/
    .modoru{
        font-size: 15px;
        width: 110px;
        height: 50px;
        position:relative;
			top:220px;
			right: 20px;
    }
/*変更ボタン*/
.henkou{
    font-size: 15px;
        width: 110px;
        height: 50px;
    position:relative;
			top: 231px;
			left: 20px;
    }
}