@charset "utf-8";
/*画面全体*/
body{
    width: 100%;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 576px;
    height: 814px;
    position:relative;
			top: -50px;
}
/*○○さん
a{
    font-size: 15px;
    position:relative;
            left: 87%;
}
*/
/*ユーザー情報の変更文字*/
.mozi{
    font-size: 46px;
}
/*パスワードの変更ボタン*/
.pasuhenkou{
    background-color: aqua;
    width: 350px;
    height: 220px;
    font-size: 46px;
    border: none;
    transition: .3s;
    position:relative;
			top: -30px;
			left: 0px;
}
/*パスワードの変更ボタン動き*/
.pasuhenkou:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*その他ユーザー情報の変更ボタン*/
.sonota{
    background-color: orange;
    width: 350px;
    height: 220px;
    font-size: 46px;
    border: none;
    transition: .3s;
    position:relative;
			top: 30px;
			left: 0px;
}
/*その他ユーザー情報の変更ボタン動き*/
.sonota:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*設定画面に戻るボタン*/
.modoru{
    width: 270px;
    height: 90px;
    font-size: 36px;
    border: none;
    transition: .3s;
    position:relative;
			top: 110px;
			right: 0px;
}
/*設定画面に戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*スマホ版*/
@media screen and (max-width: 360px){
    h1{
        font-size: 15px;
    }
/*メイン*/
    main{
        width: 330px;
        height: 400px;
        position:relative;
            top: 0px;
            right: 8px;
    }
/*ユーザー情報の変更文字*/
    .mozi{
        font-size: 24px;
        position:relative;
            top: 10px;
    }
/*パスワードの変更ボタン*/
    .pasuhenkou{
        width: 250px;
        height: 85px;
        font-size: 24px;
        position:relative;
			top: -20px;
			left: 0px;
    }
    .sonota{
        width: 250px;
        height: 85px;
        font-size: 24px;
        position:relative;
			top: 20px;
			left: 0px;
    }
    .modoru{
        width: 250px;
        height: 60px;
        font-size: 20px;
        position:relative;
			top: 60px;
			right: 0px;
    } 
}