@charset "utf-8";
/*画面全体*/
body{
    overflow-y: clip;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 858px;
    height: 850px;
    position:relative;
			top: -70px;
}
/*○○さん*/
a{
    font-size: 15px;
    position:relative;
            left: 87%;
}
/*統計文字*/
.toukeimozi{
    font-size: 48px;
    position:relative;
    top: 30px;
    right: 250px;
}
/*戻るボタン*/
.modoru{
    background-color: aqua;
    width: 358px;
    height: 151px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 550px;
			right: 0px;
}
/*戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}