@charset "utf-8";
/*画面全体*/
body{
    overflow-y: clip;
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 858px;
    height: 782px;
    position:relative;
			top: -50px;
}
/*○○さん*/
a{
    font-size: 15px;
    position:relative;
            left: 87%;
}
/*統計文字*/
.toukeimozi{
    font-size: 48px;
    position:relative;
    top: 30px;
    right: 250px;
}
/*期間文字*/
.kikanmozi{
    font-size: 24px;
    position:relative;
    top: 0px;
    left: 0px;
}
/*年テキスト*/
.nen1{
    width: 180px;
    height: 40px;
    position:relative;
    top: 0px;
    left: 98px;
}
/*年文字*/
.nenmozi1{
    font-size: 24px;
    position:relative;
    top: 0px;
    left: 98px;
}
/*月テキスト*/
.tuki1{
    width: 72px;
    height: 40px;
    position:relative;
    top: 0px;
    left: 98px;
}
/*月文字*/
.tukimozi1{
    font-size: 24px;
    position:relative;
    top: 0px;
    left: 98px;
}
/*年テキスト*/
.nen2{
    width: 180px;
    height: 40px;
    position:relative;
    top: 0px;
    left: 122px;
}
/*年文字*/
.nenmozi2{
    font-size: 24px;
    position:relative;
    top: 0px;
    left: 122px;
}
/*月テキスト*/
.tuki2{
    width: 72px;
    height: 40px;
    position:relative;
    top: 0px;
    left: 127px;
}
/*月文字*/
.tukimozi2{
    font-size: 24px;
    position:relative;
    top: 0px;
    left: 130px;
}
/*閲覧したい情報文字*/
.eturanmozi{
    font-size: 24px;
    position:relative;
    top: 62px;
    left: 35px;
}
/*閲覧したい情報テキスト*/
.eturan{
    width: 376px;
    height: 40px;
    position:relative;
    top: -5px;
    left: 29px;
}
/*戻るボタン*/
.modoru{
    background-color: lawngreen;
    width: 250px;
    height: 150px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 160px;
			right: 50px;
}
/*戻るボタン動き*/
.modoru:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}
/*集計するボタン*/
.syuukei{
    width: 250px;
    height: 150px;
    font-size: 48px;
    border: none;
    transition: .3s;
    position:relative;
			top: 160px;
			right: -50px;
}
/*集計するボタン動き*/
.syuukei:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}