@charset "utf-8";
/*画面全体*/
body{
    background-color: gainsboro;
}
/*メイン*/
main{
    background-color: white;
    width: 80%;
    height: 95%;
    position:relative;
			top: 50px;
            left: 0%;
}
/*○○さん*/
a{
    font-size: 50%;
    display: flex;
    justify-content: flex-end;
    /*position:relative;
            left: 65%;*/
}
h1{
    font-size: 200%;
    /*display: flex;
    justify-content: flex-start;*/
    position:relative;
            left: 0%;
}
/*ユーザー情報の変更ボタン*/
.jouhouhenkou{
    background-color:lemonchiffon;
    width: 80%;
    height: 25%;
    font-size: 250%;
    border: none;
    transition: .3s;
    position:relative;
			top: -5px;
			left: 0px;
}
/*ユーザー情報の変更ボタン動き*/
.jouhouhenkou:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}

/*退会ボタン*/
.taikai{
    color:white;
    width: 80%;
    height: 25%;
    font-size: 300%;
    border: none;
    transition: .3s;
    position:relative;
			top: -5%;
			right: 0px;

}

/*メインメニューに戻るボタン*/
.meinmenyu{
    color:white;
    width: 80%;
    height: 25%;
    font-size: 200%;
    border: none;
    transition: .3s;
    position:relative;
			top:  -5%;
			left: 0px;
}
/*メインメニューに戻るボタン動き*/
.meinmenyu:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}

/*退会ボタン動き*/
.taikai:hover {
    transform: translate3d(0, 5px, 0);
    color: #007db9;;
    box-shadow: none;
}